{namespace neos=Neos\Neos\ViewHelpers}
<f:layout name="BackendModule"/>

<f:section name="content">
  <f:form action="copyNode">
    <div class="neos-row-fluid">
      <fieldset class="neos-span5">
        <legend><neos:backend.translate id="label" source="Modules" /></legend>

        <div class="neos-control-group">
          <label class="neos-control-label" for="sourceIdentifier"><neos:backend.translate id="label.sourceIdentifier" source="Modules" /></label>
          <div class="neos-controls">
            <f:form.textfield name="sourceIdentifier" id="sourceIdentifier" class="neos-span12" required="true" />
            <f:render partial="Module/Shared/FieldValidationResults" arguments="{fieldname: 'sourceIdentifier'}"/>
          </div>
        </div>
        <div class="neos-control-group">
          <label class="neos-control-label" for="targetIdentifier"><neos:backend.translate id="label.targetIdentifier" source="Modules" /></label>
          <div class="neos-controls">
            <f:form.textfield name="targetIdentifier" id="targetIdentifier" class="neos-span12" required="true" />
            <f:render partial="Module/Shared/FieldValidationResults" arguments="{fieldname: 'targetIdentifier'}"/>
          </div>
        </div>

        <div class="neos-control-group">
            <label class="neos-control-label"><neos:backend.translate id="label.flushCache" source="Modules" /></label>
            <div class="neos-controls">
                <label for="flushCache" class="neos-checkbox">
                    <f:form.checkbox name="flushCache" value="1" id="flushCache" checked="true" /><span></span>
                    {cacheNames}
                </label>
            </div>
        </div>
      </fieldset>
    </div>

    <div class="neos-footer">
      <f:form.submit value="{neos:backend.translate(id: 'button.submit', source: 'Modules')}" class="neos-button neos-button-primary" />
    </div>
  </f:form>
</f:section>
